@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.favorites {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 12px;
  background: $bg-primary;

  h2 {
    margin-top: 0;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    max-height: 400px;
    overflow-y: auto;
    padding: 0.75rem;

    @media (max-width: 700px) {
      padding: 2rem;
    }
  }

  ul::-webkit-scrollbar {
    width: 8px;
  }

  ul::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }

  ul::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  ul::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  button {
    @include button;
    margin: 0 auto;
    display: block;
    width: 33%;

    @media (max-width: 700px) {
      width: 66%;
    }
  }
}
